@import url('/css/geomanist.css');

/* Variables */
:root {
    /* Colors */
    --color-primary: #2e3440;
    --color-secondary: #3b4252;
    --font-colors: #d8dee9;
    --red-vivid: rgb(255, 36, 69);
    --blue-vivid: rgb(36, 178, 255);
    --jetbrain-clion: rgb(36, 255, 156);

    /* Fonts */
    --primary-font: 'Geomanist', sans-serif;
}

body {
    background: var(--color-primary);
}

.copyright {
    color: var(--font-colors);
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: var(--primary-font);
    margin-top: 50px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 20px;
}

.product-container>div {
    background: var(--color-secondary);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--font-colors);
    font-family: var(--primary-font);
    transition:all 0.2s ease;
}


/* Hover animation */
.product-container>div:hover {
    transition:all 0.2s ease;
    transform: scale(1.01);
    transform: translateY(5px);
}

.product-container>div:hover h1 {
    color: var(--blue-vivid);
}


h1 {
    font-size: 2em;
    margin: 20px;
    padding: 0;
    color: var(--font-colors);
    font-family: var(--primary-font);
    text-align: center;
}