@import url('/css/geomanist.css');

/* Variables */
:root {
    /* Colors */
    --color-primary: #2e3440;
    --color-secondary: #3b4252;
    --font-colors: #d8dee9;
    --red-vivid: rgb(255, 36, 69);
    --blue-vivid: rgb(36, 178, 255);
    --jetbrain-clion: rgb(36, 255, 156);

    /* Fonts */
    --primary-font: 'Geomanist', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: var(--color-primary);
}

.copyright {
    color: var(--font-colors);
    position: relative;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: var(--primary-font);
    margin-top: 27%;
}


#click-buy>button {
    display: inline-block;
    width: 40%;
    margin: 20px;
    background-color: red;
    color: white;
}
